@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
  }

  ul,li{
    list-style: none;
  }
  

/* NAVBAR */

.active{
   border-bottom: 2px solid white;
}

.navbar img{
    width: 100px;
}

.navbar{
    display: flex;
    background-color: black;
    align-items: center;
    padding: 0.5rem;
}

a{
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

/* HOME - SELECT */

.home, .select{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.home img, .select img{
    height: 200px;
}

/* BUTTON */

button, select{
    padding: 0.5rem;
    margin: 0.2rem;
}


/* CARD */

.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.card{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: aquamarine;
    padding: 2rem;
    border-radius: 5px;
}

.card img{
    height: 150px;
    width: 150px;
}

.fire{
    background-color: rgb(247, 143, 46);
}

.water{
    background-color: rgb(0, 195, 255);

}

.grass{
    background-color: rgb(40, 182, 87);

}

.normal{
    background-color: rgb(151, 151, 151);

}